<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="/css/User/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="/user/login" id="loginForm">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <button type="submit" onclick="setLoginAction('/user/login')">Login</button>
            <button type="submit" onclick="setLoginAction('/user/demo-login')">Demo Login</button>
            <p>Don't have an account? <a href="/user/signup">Sign up here</a></p>
        </form>
        <div class="social-login">
            <p>Or login with:</p>
            <button class="google-btn">
                <a href="/auth/google" >
                    <img src="/images/search.png" alt="Google"> Sign up with Google
                </a>
            </button>
           
            <button class="facebook-btn">
                <img src="/images/facebook.png" alt="Facebook"> Login with Facebook
            </button>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/user/login.js"></script>



</html>