<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="/css/User/signup.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="post" action="/signup" id="signupForm">
            <input type="text" placeholder="Full Name" name="fullName">
            <input type="text" placeholder="Email" name="email">
            <div class="password-wrapper">
                <input type="password" placeholder="Password" name="password" id="password">
                <i class="fa-solid fa-eye toggle-password" data-target="password"></i>
            </div>

            <div class="password-wrapper">
                <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword">
                <i class="fa-solid fa-eye toggle-password" data-target="confirmPassword"></i>
            </div>
            <input type="text" placeholder="ReferralCode" name="referralCode">
            <button id="submit-btn" type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Login here</a></p>
        </form>
        <div class="social-login">
            <p>Or sign up with:</p>
            <button class="google-btn">
                <a href="/auth/google">
                    <img src="/images/search.png" alt="Google"> Sign up with Google
                </a>
            </button>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/user/signup.js"></script>
    <script>
        const message = "<%= message %>";
        if (message) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: message,
                toast: true,
                position: 'top-end',
                timer: 5000,
                timerProgressBar: true,
                showConfirmButton: false
            });
        }
    </script>
</body>

</html>