
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; 
}

.user-account-container {
  display: flex;
  margin: 20px ;
}
/* Content Styles */
.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.content .btn {
  margin-bottom: 5px 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.content .btn:hover {
  background-color: #5a6c80;
}

/* Address Card Container */
.address-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: flex-start; /* Align cards at the start */
}

/* Address Card Styles */
.address-card {
  flex: 1 1 calc(33.33% - 40px); 
  min-width: 280px; 
  max-width: 33.33%;
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  padding: 5px;
  box-sizing: border-box;
}

.address-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.address-card p {
  margin: 5px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.actions button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.actions .btn-secondary {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.actions .btn-secondary:hover {
  background-color: #5a6268;
}

.actions .btn-danger {
  background-color: #875157;
  color: white;
}

.actions .btn-danger:hover {
  background-color: #242323;
}

/* Ensure consistent width if only one card */
.address-card-container .address-card:only-child {
  max-width: 33.33%; /* Same size as when it would be in a row of three */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding: 10px 0;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.pagination-controls button:hover {
  background-color: #0056b3;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .user-account-container {
    flex-direction: column;
  }

  .sidebar-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .content {
    margin-left: 0;
  }

  .address-card {
    flex: 1 1 100%; /* Full width for cards on small screens */
    max-width: 100%; /* Full width when only one card */
  }
}


