<aside class="sidebar">
  <h2>Admin Panel</h2>
  <nav class="sidebar-nav">
      <ul>
          <li><a href="/admin/dashboard">Dashboard</a></li>
          <li><a href="/admin/users">Users</a></li>
          <li><a href="/admin/products">Products</a></li>
          <li><a href="/admin/categories">Categories</a></li>
          <li><a href="/admin/Inventory">Inventory</a></li>
          <li><a href="/admin/orders">Orders</a></li>
          <li><a href="/admin/coupons">Coupons</a></li>
          <li><a href="/admin/offers">Offers</a></li>
          <li><a href="/admin/salesReport">Sales Report</a></li>
          <form id="logoutForm" action="/admin/logout" method="POST" style="display: inline;">
            <button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;  font-size: inherit;">
              Logout
            </button>
          </form>
      </ul>
  </nav>
</aside>

